html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.contPrincipal {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  overflow-y: auto;
}

.btn .volver_link {
  position: absolute;
  top: 75px;
  left: 80px;
  cursor: pointer;
  color: green;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.volver_link:hover {
  background: rgb(209, 209, 209);
}

.titulo {
  font-size: 30px;
  margin: 50px 0 2px 200px;
  width: 40%;
  padding: 1px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px 0;
  padding: 10px 10px 80px;
  justify-items: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 12px;
  background-color: #f9f9f9;
  width: 450px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #f1c40f;
  padding: 6px 8px;
  border-radius: 5px 5px 0 0;
}

/* .bodyx{
  border: rgb(4, 23, 4) solid 2px;
} */

.contFecha{
  display: flex;
  /* border: blue solid 2px; */
  margin-top: 5px;
}

.contFecha label{
  /* border: red solid 2px; */
  width: 20%;
}

.contFecha .inputDate{
  width: 50%;
}

.inputs {
  display: flex;
  /* justify-content: space-evenly; */
  gap: 10px;
  width: 100%;
  margin-top: 5px;
  /* border: #27ae60 solid 2px; */
}

.inputs label {
  width: 10%;
  text-align: left;
  /* border: red solid 1px; */
}

.inputs .inputField {
  width: 20%;
  padding: 2px;
  margin-left: -10px;
  gap: 20px;
}

.saveButton {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-top: 5px;
}

.closeButton {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #e74c3c;
}
