body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.contPrincipal {
  width: 100%;
  min-height: 100vh;
  margin-top: 40px;
  padding: 10px;
  overflow-y: auto;
  padding-bottom: 25px;
}

.btn .volver_link {
  position: absolute;
  top: 30px;
  left: 80px;
  cursor: pointer;
  color: green;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.volver_link:hover {
  background: rgb(209, 209, 209);
}

.contPrincipal .titulo {
  font-size: 25px;
  margin: 10px 0 2px 400px;
  width: 40%;
  padding: 1px;
  /* font-weight: bold; */
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px 0;
  justify-items: center;
  padding: 5px 10px 60px;
  padding-bottom: 20px;
  width: 1100px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 12px;
  background-color: #f9f9f9;
  width: 350px;
}

.contPrincipal .header {
  display: flex;
  justify-content: space-between;
  background-color: #f1c40f;
  padding: 1px 5px;
  border-radius: 5px 5px 0 0;
}

.contPrincipal .header span{
  font-size: 15px;
  font-weight: bold;
  bottom: 0;
}

/* .bodyx{
  border: rgb(4, 23, 4) solid 2px;
} */

.contFecha{
  display: flex;
  /* border: blue solid 2px; */
  margin-top: 5px;
}

.contFecha label{
  /* border: red solid 2px; */
  width: 20%;
}

.contFecha .inputDate{
  width: 42%;
  padding: 5px;
  outline: none;
}

.inputs {
  display: flex;
  /* justify-content: space-evenly; */
  gap: 10px;
  width: 100%;
  margin-top: 5px;
  /* border: #27ae60 solid 2px; */
}

.inputs label {
  width: 10%;
  text-align: left;
  /* border: red solid 1px; */
}

.inputs .inputField {
  width: 20%;
  font-size: 12px;
  padding: 0;
  margin-left: -5px;
  gap: 10px;
  outline: none;
}

.saveButton {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 4px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: auto;
  margin-top: -5px;
  /* margin-bottom: 5px; */
}

.closeButton {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #e74c3c;
}
