
.visitadomiciliariaFormulario {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: -15px;
    margin: auto;
    margin-top: 20px;
}

.visitadomiciliariaTitulo {
    font-size: 24px;
    color: #00796b;
    margin-bottom: 20px;
    text-align: center;
}

.visitadomiciliariaEfectividad {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.visitadomiciliariaRadioBox {
    display: flex;
    align-items: center;
    border: green solis 2px;
}

/* Contenedor para los dos campos en la misma fila */
.visitadomiciliariaFila {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* Espacio entre los dos campos */
    margin-bottom: 16px;
    /* Margen inferior entre los grupos de campos */
}

.visitadomiciliariaFila input {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
    outline: none;
    width: 150px;
}

.visitadomiciliariaFila input[type="date"] {
    font-size: 15px;
}




.visitadomiciliariaInput {
    width: 100%;
    /* Asegura que los campos ocupen todo el espacio disponible */
}

.visitadomiciliariaLabel {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
    display: block;
}

.visitadomiciliariaSelect,
.visitadomiciliariaTextarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
    outline: none;
}

.visitadomiciliariaTextarea {
    resize: vertical;
    min-height: 120px;
}

.visitadomiciliariaBotones {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.visitadomiciliariaGuardar,
.visitadomiciliariaCancelar {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;
}

.visitadomiciliariaGuardar {
    background-color: #28a745;
    color: white;
    padding: 10px;
}

.visitadomiciliariaGuardar:hover {
    background-color: #218838;
}

.visitadomiciliariaCancelar {
    background-color: #dc3545;
    color: white;
    padding: 10px;
}

.visitadomiciliariaCancelar:hover {
    background-color: #c82333;
}

/* Estilos para el modal de éxito */
.visitadomiciliariaModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.visitadomiciliariaModalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.visitadomiciliariaModalBbutton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.visitadomiciliariaModalButton:hover {
    background-color: #0056b3;
}