.opciones-cita {
  position: relative;
  padding-bottom: 70px;
  overflow-y: auto;
  height: auto;
}

.opciones-cita main {
  margin-top: 37px;

}

.volver_link {
  position: absolute;
  cursor: pointer;
  color: green;
  text-decoration: underline;
  background: transparent;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-family: 'poppins';
  font-size: 14px;
  top: -50px;
  left: 5px;
  border: none;
}

.opciones-cita h5 {
  text-align: center;
  font-size: large;
  font-family: 'poppins';
  margin: 0;
  margin-top: 60px;
}

.opciones-cita .volver_link:hover {
  background: rgb(238, 238, 238);
}

.opciones-cita main section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  padding-bottom: 0;
  align-items: center;
  margin-top: 20px;
}

.opciones-cita section div {
  position: relative;
  display: flex;
  gap: 20px;
  max-width: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.opciones-cita section div .box {
  font-family: 'poppins';
  padding: 5px;
  width: 145px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: white;
  border: none;
  box-shadow: 0 0 5px black;
  border-radius: 2px;
  font-size: 16px;
  transition: 0.3s ease;
}

.opciones-cita section div .box:hover {
  transform: scale(1.05);
  color: white;
  background-color: #3058a6;
  box-shadow: 0 0 2px greenyellow;
}

.opciones-cita div .icon {
  font-size: 20px;
  margin: 0;
}

.container-tabla {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.opciones-cita table {
  border-collapse: collapse;
}

.opciones-cita table th {
  font-size: 14px;
  font-family: calibri;
  background-color: #f5ce71;
}

.opciones-cita table td {
  font-family: 'poppins';
  font-size: 12px;
  border: gray solid 1px;
}

.opciones-cita tbody button {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.opciones-cita th,
td {
  padding: 6px;
  text-align: left;
  border: 1px solid gray;
}

.opciones-cita tbody td {
  font-family: 'poppins';
  font-size: 12px;
  text-transform: uppercase;
  height: 5px;
  padding: 5px;
}

.opciones-cita th {
  background-color: #cecece;
}

.opciones-cita .container-tabla tr:hover {
  background-color: rgb(228, 228, 228);
}

/* Contenedor del calendario */
.calendar-cita {
  position: fixed;
  width: 100vw;
  height: 91vh;
  top: 36px;
  left: 0;
  bottom: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 100;
  overflow-y: auto;
}

.calendar-cita main {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0;
  padding-bottom: 50px;
  height: auto;
}

.calendar-cita main hr {
  width: 90%;
}

.calendar-cita main .box-calendar,
.list-cita {
  position: relative;
  height: auto;
  padding: 15px;
  height: 100%;
}

.calendar-cita .box-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-cita .box-calendar p {
  font-size: 16px;
  font-family: 'poppins';
  margin: 0;
  text-transform: uppercase;
}

.calendar-cita main h3 {
  position: absolute;
  text-align: center;
  width: 100%;
  font-family: 'poppins';
  top: -50px;
  z-index: 1;
}

.calendar-cita .list-cita {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-cita .close-cita {
  position: absolute;
  top: -30px;
  z-index: 1;
}

.atencion-especial {
  background-color: rgb(86, 174, 86);
  color: white;
}

.atencion-especial:hover {
  background: rgb(117, 206, 117);
}

.receso {
  background-color: rgb(225, 221, 181);
  color: black;
}


.citas2{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
@media (max-width: 1000px) {
  .calendar-cita main {
    display: flex;
    flex-wrap: wrap;
  }

  .calendar-cita .box-calendar {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .calendar-cita main hr {
    display: none;
  }

  .calendar-cita table {
    margin: auto;
  }
}