.cita-nino {
    position: relative;
    padding-bottom: 70px;
    overflow-y: auto;
    height: auto;
}

.cita-nino .react-calendar {
    border: red solid;
    width: 300px;
}
.cita-nino .custom-calendar {
    background-color: #f9f9f9; /* Color de fondo del calendario */
    border: 1px solid #ddd; /* Borde del calendario */
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilo para los días del mes */
.react-calendar__tile {
    border: none;
    box-shadow: 0 0 1px black;
    padding: 10px;
    text-align: center;
    border-radius: 5px; /* Bordes redondeados para los días */
}

/* Estilo para los días de domingo */
.react-calendar__tile--sunday {
    background-color: #ffe6e6; /* Color de fondo específico para domingos */
    color: #d9534f; /* Color del texto para domingos */
}

/* Estilo al pasar el mouse sobre un día */
.react-calendar__tile:hover {
    background-color: #e7f3fe; /* Color de fondo al pasar el mouse */
    color: #31708f; /* Color del texto al pasar el mouse */
}

/* Estilo para el día seleccionado */
.react-calendar__tile--active {
    background-color: #007bff; /* Color de fondo para el día activo */
    color: white; /* Color del texto para el día activo */
}

/* Estilo para el día actual */
.react-calendar__tile--now {
    border: 2px solid #007bff; /* Borde alrededor del día actual */
}

/* Estilo para días deshabilitados (ejemplo) */
.react-calendar__tile--disabled {
    opacity: 0.5; /* Menos opacidad para días deshabilitados */
}

.cita-nino table {
    border-collapse: collapse;
}
.cita-nino table th, td {
    border: gray solid 1px;
}
.cita-nino table th{
    font-size: 13px;
    padding: 4px 6px;
    font-weight: 540;
    background-color: #07c5af;
}
.cita-nino table td {
    margin: 0;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;

}
.cita-nino table tbody .receso{
    background-color: #d6d1a0;
}
.cita-nino table  tbody .atencion-especial {
    background-color: #ffa6a6c4;
}
.cita-nino table tbody tr:hover{
    background-color: #A8E6CF;
}