.form-cita {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 600;
    display: flex;
    background-color: rgba(0, 0, 0, 0.611);
    padding: 30px 10px;
    padding-bottom: 100px;
    overflow-y: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px) scale(0.1);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.form-cita form {
    max-width: 600px;
    width: 100%;
    border-radius: 6px;
    padding: 25px;
    padding-right: 35px;
    box-sizing: border-box;
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 0 0 7px  dodgerblue;
    background-color: white;
    animation: fadeIn .5s ease;
    background-color: rgb(255, 255, 255);
    position: relative;

}
.form-cita .ico-close {
    position: absolute;
    top: -30px;
    right: 10px;
    font-size: 30px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease;
    padding: 5px;
}
.form-cita .ico-close:hover{
    color: red;
}

.form-cita form h2 {
    text-align: center;
    margin: 0;
    font-size: 24px;
    font-family: 'poppins';
    color: dodgerblue;
    margin: 0;
}
.form-cita form .fechas {
    display: flex;
    justify-content: space-between;
}
.form-cita form .box-fechas{
    display: flex;
    flex-direction: column;
    gap: 0;
    border-radius: 6px;
    background-color: rgba(30, 143, 255, 0.113);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.444);
    width: 40%;
}
.form-cita form .box-fechas p {
    margin: 0;
    text-align: center;
    font-size: 14px;
}
.form-cita form .box-fechas span {
    text-align: center;
    font-weight: bold;
}
.form-cita .box-btn {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}
.form-cita form .btn {
    background-color: rgb(97, 208, 97);
    color: white;
    font-size: 15px;
    width: 130px;
}
.form-cita form .disable {
    background-color: rgb(222, 222, 222);
    cursor: no-drop;
}
.form-cita .box-filtra {
    position: relative;
    border: rgba(30, 143, 255, 0.594) solid 1px;
    padding: 18px 10px;
    border-radius: 6px;
}
.form-cita .box-filtra p {
    position: absolute;
    font-size: 13px;
    top: -22px;
    color: black;
    font-weight: 600;
    background-color: white;
    padding: 0 8px;
}
.form-cita form div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-cita form div label {
    width: 100%;
}

.form-cita form input {
    padding: 7px;
    font-size: 15px;
    outline: none;
    font-family: 'poppins';
    border-radius: 2px;
    transition: border-color 0.3s;
}
.form-cita form input, textarea {
    border-radius: 5px;
    border: solid 2px rgba(30, 143, 255, 0.282);
    background-color: rgb(252, 255, 254);
}
.form-cita form textarea{
    font-size: 15px;
}

.form-cita form input:focus, textarea:focus {
    border: solid 2px dodgerblue;
    box-shadow: none
}

.form-cita form .noo {
    cursor: no-drop;
}
.form-cita form .noo:focus{
    border: solid 2px rgba(30, 143, 255, 0.282);

}
.form-cita form textarea {
    padding: 5px;
    min-width: 100%;
    max-width: 100%;
    min-height: 70px;
    outline: none;
}
.form-cita form .btnss {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    border: none;
}

.form-cita .btnss button {
    padding: 12px 24px;
    width: 190px;
    border-radius: 10px;
    color: white;
    font-family: 'poppins';
    font-weight: bold;
}

.form-cita .btnss .ico {
    cursor: pointer;
}