.form-cita{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 55;
    background:  #f7f9fc;
    overflow-y: auto;
    box-sizing: border-box;
    padding-bottom: 120px;
    font-family: 'Poppins', sans-serif; 
}

.form-cita .form-fechaHora{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
    padding: 0;
}

.form-cita .form-fechaHora .sub-formfechaHora{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form-cita .cstr{
    margin: auto;
}
.form-cita .form-fechaHora p{
    text-align: center;
    padding: 2px;
    border: none;
    box-shadow: 0 0 2px rgb(95, 214, 103);
    border-radius: 5px;
    background: gray;
    color: white;
    
}

.form-cita main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    box-sizing: border-box;
    margin-top: 100px;
}
.form-cita main form{
    max-width: 500px;
    box-shadow: 0 0 6px rgb(52, 206, 52);
    border-radius: 6px;
    padding: 25px;
    padding-right: 35px;
    box-sizing: border-box;
    display: flex;
    gap: 15px;
    flex-direction: column;
    font-family: 'poppins';
}
.form-cita main form h2{
    text-align: center;
    margin: 0;
    font-size: 24px; /* Tamaño de fuente más grande */
    color: #333; /* Color de texto más oscuro */
}
.form-cita form div{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.form-cita form div label{
    width: 100%;
    
}
.form-cita form input{
    padding: 5px;
    font-size: 15px;
    outline: none;
    font-family: 'poppins';
    border: 1px solid #ccc; /* Borde más profesional */
    box-shadow: 0 0 2px black;
    border-radius: 4px ;
    transition: border-color 0.3s; /* Transición suave */
}

.form-cita form input:focus {
    border-color: #4CAF50; /* Color de borde al enfocar */
}


.form-cita form .btns{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border: none;
    width: 102%;
}

.form-cita .btns button{
    padding: 12px 24px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'poppins';
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease;
}

.form-cita .btns .btn-register{
    background: rgb(17, 149, 17);
    box-shadow: 0 0 3px #eb3553;
}

.form-cita .btns .btn-register:hover{
    box-shadow: 0 0 8px #eb3553;
}
.form-cita .btns .btn-close{
    background: #eb3553;
    box-shadow: 0 0 3px rgb(52, 206, 52);
}
.form-cita .btns .btn-close:hover{
    background: #eb3553;
    box-shadow: 0 0 8px rgb(52, 206, 52);
}
.form-cita .btns .ico{
    cursor: pointer;
}

.form-cita .loading{
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.459);
}
.form-cita .loading div{
    background-color: white;
    box-shadow: 0 0 3px #00796b;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-cita .loading div .icon{
    font-size: 25px;
    animation: rotar 1s linear infinite;
}
@keyframes rotar {
    0%{ transform: rotate(0deg); }
    33% { transform:  rotate(120deg);}
    66% { transform: rotate(240deg); }
    99% { transform: rotate(360deg);}
}
.form-cita .loading div p{
    margin: 0;
    font-family: 'poppins';
    color: #00796b;
}