
/* Login Form Styles */
.login {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
}

.login form {
    box-shadow: 0 0 5px #00796b75;
    border-radius: 8px;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Segoe UI', sans-serif;
    max-width: 300px;
    width: 100%;
    background-color: #ffffff;
    font-family: 'poppins';
}

.login form h2 {
    margin: 0;
    text-align: center;
    font-size: 24px;
    color: #00796b;
    font-weight: bold;
}

.login form div {
    position: relative;
    display: flex;
    flex-direction: column;
}

.login div label {
    text-align: left;
    font-size: 14px;
    color: #333;
}

.login div input {
    outline: none;
    padding: 10px;
    width: initial;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.login div input:focus {
    border-color: #00796b;
}

.login button {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login button:hover {
    background-color: #005b4f;
}

.login .check {
    display: flex;
    align-items: center;
}

.login .error-message {
    font-size: 12px;
    color: red;
    text-align: center;
    margin: 0;
}

.login .ico_form_login {
    position: absolute;
    right: 7px;
    top: 30px;
}

.login form .link_reset {
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    color: #00796b;
}


/* Reset Password Styles */
.reset-password {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
    position: relative;
}
.Flecha{
    z-index: 1;
   
}

.reset-password form {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 300px;
    width: 100%;
    background-color: #e8e5e5;
    position: relative;
}

.reset-password form h2 {
    text-align: center;
    font-size: 24px;
    color: #00796b;
    margin: 0;
}

.reset-password div input {
    padding: 10px;
    width: 92%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.reset-password button {
    background-color: #00796b;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.reset-password button:hover {
    background-color: #005b4f;
}
.reset-password .volver_link{
    position: absolute;
    top: -35px;
    left: -30px;
    cursor: pointer;
    color: green;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    gap: 5PX;
    font-family: 'poppins';
    font-size: 14px;
}
.reset-password .volver_link:hover{
    background: rgb(238, 238, 238);
}






.nav_login{
    position: fixed;
    width: calc(100% - 40px);
    top: 0;
    background: rgb(48, 48, 48);
    color: rgb(97, 208, 97);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: solid 3px #00796b;
    font-family: 'poppins';
    position: relative;
    height: 35px;
    z-index: 3;
}

.nav_login .icon{
    font-size: 23px;
    padding: 5px;
    border-radius: 50%;
}

.nav_login div{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav_login .recargar{
    display: flex;
    gap: 5px;
    align-items: center;
}
.nav_login .opcion-nav{
    display: flex;
    gap: 4px;
    align-items: right;
}
.nav_login .opcion-nav .ico-closse-sesion{
    font-size: 25px;
    color: rgb(238, 64, 64);
    padding: 5px;
    transition: .3s ease;
}
.nav_login .ico-people{
    font-size: 25px;
    color: rgb(93, 64, 238);
    padding: 5px;
    transition: .3s ease;
}
.nav_login .ico-yo-user{
    font-size: 18px;
    padding: 8px;
    color: #00796b;
    transition: .3s ease;
}
.nav_login .opcion-nav .ico-people:hover, .ico-closse-sesion:hover, .ico-yo-user:hover, .icon_login_nav:hover{
    background: rgb(78, 78, 78);
    box-shadow: 0 0 3px #00796b;
}

.nav_login div p{
    font-weight: bold;
    font-size: 14px;
    font-family: 'poppins';
}



.nav_pie{
    position: fixed;
    width: calc(100% - 40px);
    height: 35px;
    bottom: 0;
    background: rgb(48, 48, 48);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-top: solid 3px #00796b;
}
.nav_pie p{
    color: white;
    font-size: 12px;
}
.nav_pie .btns{
    display: flex;
    flex-direction: row;
}
.nav_pie .button div button  {
    background: rgb(65, 64, 64);
    color: white;
    border:  none;
    border: black solid 1px;
    margin: 0 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    font-family: 'poppins';
    font-size: 12px;
    height: 35px;
}

.sidebar {
    position: fixed; /* Fija el sidebar en la pantalla */
    top: 0;
    right: -300px; /* Comienza fuera de la pantalla */
    width: 300px; /* Ancho del sidebar */
    height: 100%; /* Altura completa */
    background-color: #f8f9fa; /* Color de fondo */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* Sombra para el sidebar */
    transition: right 0.3s ease; /* Transición suave */
    z-index: 100; /* Asegúrate de que esté por encima de otros elementos */
}

/* Clase activa para mostrar el sidebar */
.sidebar.open {
    right: 0; /* Mueve el sidebar a la vista */
}

.close-icon {
    cursor: pointer; /* Cambia el cursor al pasar sobre el icono de cierre */
    font-size: 24px; /* Tamaño del icono */
    margin: 10px; /* Espaciado alrededor del icono */
}

