@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Login Form Styles */
.login {
    display: grid;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    /* border:2px solid  #e4890a; */
    /* padding-top: 40px; */
    /* padding-bottom: 40px; */
    /* box-sizing: border-box; */
}
.content-wrappe { 
    display: flex;
    flex: 1;
    /* padding: 35px 0; Espacio para los navs */
    /* border: 2px solid rgb(200, 13, 13); */
    height:100%;
    width: 100%;
    /* height: 170%; */

}

.caja-formulario {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative; /* Necesario para posicionar el pseudo-elemento */
    z-index: 1; /* Asegura que el contenido esté por encima */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Pseudo-elemento para la opacidad del fondo */
.caja-formulario::before {
    content: ""; /* Requerido para pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../Componentes/IMG/iconosmedicina.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.6; /* Ajusta el nivel de opacidad (0.1 a 1) */
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
}


.datosentidad {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #256860;
    position: relative;
    border-radius: 10px; /* Bordes redondeados para un diseño más suave */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra suave para profundidad */
    overflow: hidden; /* Evita que los elementos se salgan */
}

.titleentidad {
    position: absolute;
    width: 80%; /* Aumenté el ancho para mejor visibilidad */
    margin-top: -80%; /* Ajuste para centrar el título */
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    z-index: 1; /* Para asegurar que el título esté por encima de otros elementos */

    h3 {
        font-size: 2.2em; /* Aumenté el tamaño para mayor impacto */
        font-weight: 600; /* Negrita para resaltar el título */
        margin-bottom: 10px;
        color: white;
    }

    h5 {
        font-size: 1.2em; /* Ajuste de tamaño para subtítulo */
        font-weight: 300; /* Menos peso para el subtítulo */
        text-align: center;
        margin-top: 10px;
    }
}

.imagenDoctores img {
    width: 100%; /* Adaptar al contenedor */
    max-width: 700px; /* Limitar el tamaño máximo */
    border-radius: 0; /* Elimina cualquier redondeo en los bordes si es necesario */
    object-fit: contain; /* Asegura que la imagen conserve sus proporciones */
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.6)); /* Sombra basada en el contorno opaco */
    transition: transform 0.3s ease, filter 0.3s ease; /* Suavizar efectos */
}

/* Efecto hover exclusivo para la imagen */
.datosentidad .imagenDoctores img:hover {
    transform: scale(1.01); /* Aumenta ligeramente el tamaño al pasar el mouse */
    filter: drop-shadow(0 15px 20px rgba(0, 0, 0, 0.9)); /* Sombra más intensa en hover */
}


.datosentidad .minsa {
    position: absolute;
    margin-top: 60%;
    width: 150px; /* Reduje el tamaño para no competir con el contenido */
    opacity: 0.9; /* Agregué un poco de transparencia */
    z-index: 1; /* Asegura que se muestre correctamente por encima de la imagen */
}

@media (max-width: 768px) {
    .datosentidad {
        padding: 10px;
    }

    .titleentidad {
        width: 90%; /* Aumentar el tamaño en pantallas pequeñas */
        margin-top: -60%; /* Ajuste para que no se vea cortado */
    }

    .imagenDoctores img {
        max-width: 300px;
    }

    .minsa {
        width: 270px;
    }
}

.login form {
    box-shadow: 0 0 10px #00796b75;
    border-radius: 8px;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Segoe UI', sans-serif;
    max-width: 350px;
    width: 100%;
    background-color: #ffffffec;
    font-family: 'poppins';
}

.login form h2 {
    margin: 0;
    text-align: center;
    font-size: 25px;
    color: #00796b;
    font-weight: bold;
}

.login form p{
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: #00796b;
}

.login form div {
    position: relative;
    display: flex;
    flex-direction: column;
}

.login div label {
    text-align: left;
    font-size: 16px;
    color: #333;
    /* font-weight: bold; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.login form div input {
    outline: none;
    padding: 7px;
    width: initial;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 17px;
    transition: border-color 0.3s;
}

.login div input:focus {
    border-color: #00796b;
}

.login button {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login button:hover {
    background-color: #005b4f;
}

.login .check {
    display: flex;
    align-items: center;
}

.login .error-message {
    font-size: 12px;
    color: red;
    text-align: center;
    margin: 0;
}

.login .ico_form_login {
    position: absolute;
    right: 2px;
    top: 40px;
}

.login form .link_reset {
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    color: #00796b;
}


/* Reset Password Styles */
.reset-password {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
    position: relative;
}
.Flecha{
    z-index: 1;
   
}

.reset-password form {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 300px;
    width: 100%;
    background-color: #e8e5e5;
    position: relative;
}

.reset-password form h2 {
    text-align: center;
    font-size: 24px;
    color: #00796b;
    margin: 0;
}

.reset-password div input {
    padding: 10px;
    width: 92%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.reset-password button {
    background-color: #00796b;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.reset-password button:hover {
    background-color: #005b4f;
}
.reset-password .volver_link{
    position: absolute;
    top: -35px;
    left: -30px;
    cursor: pointer;
    color: green;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    gap: 5PX;
    font-family: 'poppins';
    font-size: 14px;
}
.reset-password .volver_link:hover{
    background: rgb(238, 238, 238);
}


.login .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.login .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Animación del círculo pulsante */
.login .pulse-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #3498db;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
    animation: pulse 1.5s infinite;
    margin: 0 auto 15px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 8;
    }
}

.login .modal p {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-top: 10px;
}
