.modal-cerrarsesion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-cerrarsesion .modal-hijo {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.3s ease-in-out;
}

.modal-cerrarsesion .modal-hijo h1{
    font-size: 18px;
}

.modal-cerrarsesion .cerrando-sesion {background: rgba(255, 255, 255, 0.699);
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-cerrarsesion .modal-botones {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.modal-cerrarsesion .btn-confirmar {
    background: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.modal-cerrarsesion .btn-confirmar:hover {
    background: #2874a6;
}

.modal-cerrarsesion .btn-cancelar {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.modal-cerrarsesion .btn-cancelar:hover {
    background: #c0392b;
}

.modal-cerrarsesion .icon-loading {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
