/*ESTULOS DE FORULARIO DE REGISTRO*/
.registrar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.585);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.registrar form {
  animation: scaleIn 0.3s forwards;
  background-color: white;
  padding: 30px;
  margin: 0 auto;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 0 10px dodgerblue, 0 0 10px dodgerblue;
}

.registrar form h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  color: dodgerblue;
}

.registrar .close_reg {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: .3s ease;
  box-shadow: 0 0 1px dodgerblue;
  height: 35px;
  padding: 5px;
  border-radius: 50%;
}
.registrar .close_reg:hover {
  transform: rotate(180deg);
  background-color: rgb(243, 138, 138);
}

.registrar form .center {
  display: flex;
  gap: 30px;
}
.registrar form .form_paciente, .registrar form .form_responsable {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 100%;
}

.registrar form .form-group {
  display: flex;
  align-items: center;
  gap: 20px;
}
.registrar form input{
  text-transform: uppercase;
}
.registrar form .group input{
  text-align: center;
}
.registrar form label {
  margin-top: 10px;
}

.registrar form #discapacidad .check_disca, .registrar form .respons {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: .3s ease;
}
.registrar form #discapacidad .check_disca:hover, .registrar form .respons:hover {
  font-weight: 600;
}
.registrar form #discapacidad input{
  width: auto;
}
.registrar form input, .registrar form select {
  padding: 5px;
  font-size: 16px;
  border: rgba(30, 143, 255, 0.256) solid 2px;
  outline: none;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}

.registrar form input:focus, .registrar form select:focus {
  border: 2px solid dodgerblue;
}

.registrar form .sexos {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.registrar form .sexos p {
  margin: 0;
}

.registrar form .sexos div {
  display: flex;
  gap: 10px;
  margin-top: -6px;
}

.registrar form .label_sexo {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.registrar form .respons {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.registrar form .respons input{
  width: auto;
}
.registrar form .btns {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 30px 0;
}
.registrar form .btns button {
  width: 180px;
  height: 40px;
  border-radius: 7px;
}