

.selected {
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén en columna */
    gap: 1rem; /* Espacio entre los elementos */
}

.selected label {
    position: relative;
}

.selected .ico-mas {
    position: absolute;
    right: 0;
    cursor: pointer;
    color: rgb(24, 164, 85);
    font-size: 20px;
}
.selected select {
    text-transform: uppercase;
}
.selected option {
    text-transform: uppercase;
}