.datos-paciente {
    position: relative;
    width: 100%;
    height: 100%;
}
.datos-paciente .listas-paciente{
    display: none;
}
.datos-paciente main {
    height: auto;
    padding-bottom: 50px;
    padding: 35px 0; 
}
.datos-paciente .hola{
    width: 200px;
    height: 200px;
    background-color: black;
    position: absolute;
}

.datos-paciente .box-result {
    margin-left: 233px;
    margin-right: 203px;
    padding: 0 5px;
    margin-top: -70px;
    border: white solid 1px;
}
.datos-paciente .txt1{
    text-align: center;
    margin: 0;
    margin-top: 5px;
}
.datos-paciente span{
    font-size: 14px;
}
.datos-paciente .name-paciente{
    background-color: #cecece;
    width: 100%;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'poppins';
    padding: 5px 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.datos-paciente .name-paciente p{
    margin: 0;
    padding-right: 7px;
}

.datos-paciente table {
    border-collapse: collapse;
}

.datos-paciente table th {
    font-size: 14px;
    font-family: calibri;
}

.datos-paciente table td {
    font-family: 'poppins';
    font-size: 12px;
    border: gray solid 1px;
}
.datos-paciente tbody button{
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.datos-paciente th, td {
    padding: 6px;
    text-align: left;
    border: 1px solid gray;
}
.datos-paciente tbody td {
    font-family: 'poppins';
    font-size: 14px;
    text-transform: uppercase;
    height: 5px;
    padding: 5px;
}
.datos-paciente th {
    background-color: #cecece;
}
.datos-paciente tr:hover {
    background-color: white;
  }
  
.datos-paciente .reportes-control{
    color: black;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.datos-paciente .reportes-control aside{
    flex: 1;
    box-shadow: 0 0 2px black;
    background: rgb(231, 230, 230);
    padding: 5px;
    border-radius: 2px; 
}
.datos-paciente aside p{
    margin: 0;
    width: 100%;
    /* background: rgb(79, 158, 79); */
    color: white;
    padding: 4px;
    font-family: 'poppins';
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}