
/* Modal Styles */
.panel .modal {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea el contenido al principio */
    padding-top: 0; /* Añade un margen superior */
    align-items: center;
    z-index: 1000;
}

.panel .modal_content {
    /* border: red solid 2px; */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
}

.modal .modal_content h4{
    font-size: 17px;
    color: #333;
    margin-left: 10px;
    justify-content: center;
    font-weight: bold;
}

.panel .modal_buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.panel .modal_buttons a{
    width: 300px;
}

.panel .modal_link {
    display: block;
    background-color: #4CAF50;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 6px;
    transition: .3s ease;
    /* font-weight: bold; */
}

.panel .modal_link:hover {
    background-color: #3b903f;
    color: white;
    font-weight: bold;
}

.panel .modal_close {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.panel .modal_close:hover {
    background-color: #e53935;
}



.panel{
    position: relative;
    height: auto;
    overflow-y: auto;
}
.panel .sub_panel{
    width: 100%;
    padding-bottom: 100px;
    margin-top: 60px;
}
.panel .sub_panel>h5{
    font-family: 'poppins';
    font-size: large;
    font-family: 'poppins';
    text-transform: uppercase;
    text-align: center;
}
.panel .box_opciones{
    box-shadow: 0 0 2px #00796b;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 93%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 7px 15px;
    position: relative;
}
.panel .box_opciones .volver_link{
    position: absolute;
    top: -35px;
    left: -30px;
    cursor: pointer;
    color: green;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    gap: 5PX;
    font-family: 'poppins';
    font-size: 14px;
}
.panel .box_opciones .volver_link:hover{
    background: rgb(238, 238, 238);
}
.panel .box_opciones h4{
    color: #00796b;
}

.panel .box_opciones hr{
    width: 100%;
    margin: 0;
    border-top: 2px dotted #999;
}
.panel .box_opciones .boxs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 12px 0;
}
.panel .boxs .box{
    box-shadow: 0 0 5px black;
    border-radius: 2px;
    padding: 10px;
    width: 170px;
    transition: .3s ease;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: none;
    background-color: white;
}
.panel .boxs .box:hover{
    background-color: white;
    transform: scale(1.03);
}

.panel .boxs h5{
    font-family:'poppins'; 
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    margin: 0;
}
.panel .icon_box{
    font-size: 20px;
    background: rgb(46, 100, 209);
    color: white;
}

.panel h4{
    text-align: left;
    margin: 0;
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 5px 0;
    padding-top: 0;
    font-size: 15px;
}

.panel .box p{
    font-size: 11px;
    text-align: center;
}

