.panel{
    height: 100vh;
    width: 100%;
    position: relative;
    box-sizing: border-box; /* Incluye el padding en el tamaño total */
} 
.panel .opciones{
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    border-right: gray solid 1px;
    position: fixed;
    top: 37px;
    width: 180px;
    height: calc(100% - 70px);
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 12px;
    }
}
.panel .opciones>p{
    position: sticky;
    top: 0;
    font-family: 'poppins';
    font-size: 12px;
    padding: 2px 10px;
    margin: 0;
    text-align: center;
    background: #00796b;
    color: white;
    z-index: 2;
}
.panel .opciones .box{
    background-color: #e4e7e6;
    height: 70px;
    padding: 10px;
    font-family: 'poppins';
    text-decoration: none;
    position: relative;
    transition: .3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: gray solid 1px;
    z-index: 1;
}

.panel .opciones .box:hover{
    transform: scale(1.01);
    background-color: #29f1c94e;
}
.panel .opciones .box p{
    color: black;
    font-size: 15px;
    margin: 0;
}
.panel .opciones .box .edad{
    position: absolute;
    top: 3px;
    left: 5px;
    font-size: 12px;
}
.panel .opciones img{
    width: 30px;
    margin: 0;
}