.turnos .btn-nav {
  display: flex;
  justify-content: center;
}

.turnos .datos {
  display: flex;
  justify-content: space-between;
}

.turnos .datos p {
  font-family: 'poppins';
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.turnos .btn-nav button {
  background-color: #1c7f73;
  border: none;
  padding: 6px;
  border-radius: 3px;
  color: white;
  font-family: 'poppins';
  font-size: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.turnos .ico {
  font-size: 16px;
}

.turnos .btn-turno-action {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.turnos .btn-turno-action .btn-guardar {
  background-color: #069a89;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.turnos .btn-turno button:hover {
  background-color: #1c7f73;
}

.turnos table .turno-colum {
  width: 180px;
  font-size: 12px;
}

.turnos table thead th {
  font-family: 'poppins';
  font-size: 12px;
  text-align: center;
  font-weight: lighter;
}

.turnos .checkbox-inactivo {
  opacity: 0.4;
}

.turnos table tbody input {
  cursor: pointer;
}

.turnos .css {
  background-color: #069a8943;
}


/**********************************************/
/*ESTYLOS DE LA TABLA VER TURNOS*/
.turnos-personal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: white;
  padding: 35px;
  padding-top: 37px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.turnos-personal main>h3 {
  font-size: 19px;
}

.turnos-personal .acciones {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  gap: 10px;
  margin-top: 10px;
}
.turnos-personal .volver_link{
  position: absolute;
  top: -17px;
}
.turnos-personal .acciones input {
  width: 25%;
  padding: 7px;
  padding-left: 35px;
  border: none;
  box-shadow: 0 0 3px black;
  outline: none;
}

.turnos-personal .acciones .ico_buscar {
  position: absolute;
  top: 20px;
  /* outline: none; */
}

.turnos-personal .acciones .filtros{
  position: relative;
}
.turnos-personal .acciones div p {
  width: 120px;
  background-color: rgb(97, 208, 97);
  color: white;
  font-weight: bold;
  font-size: 12px;
  font-family: 'poppins';
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: left;
  gap: 3px;
  height: 15px;
}
.turnos-personal .acciones .filtro{
  position: absolute;
  width: 116px;
  background-color: rgb(46, 42, 42);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 7px;
  color: white;
  display: none;
}
.turnos-personal .acciones div p:hover~.filtro{
  display: flex;
}
.turnos-personal .acciones .filtro:hover{
  display: flex;
}
.turnos-personal .acciones .ico{
  transform: rotate(-180deg);
  font-size: 20px;
}
.turnos-personal .acciones .contador{
  font-family: 'poppins';
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.turnos-personal .acciones .fecha-cambiar{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.turnos-personal .acciones button {
  background-color: #00796b;
  border: none;
  padding: 5px 10px;
  display: flex;
  gap: 5px;
  color: white;
  font-family: 'poppins';
  display: flex;
  align-items: center;
  cursor: pointer;
}

.turnos-personal .acciones .ico-cambiar {
  font-size: 17px;
}

.turnos-personal main table {
  margin-top: -5px;
}
.turnos-personal main table thead th{
  font-family: 'poppins';
  font-size: 12px;
  padding: 4px;
  text-align: center;
  font-weight: bold;
}

.turnos-personal table .names{
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  padding: 4px;
  width: auto;
}

.turnos-personal table .names:hover{
  text-decoration: underline;
}
.turnos-personal main table tbody tr{
  transition: .2s ease;
}
.turnos-personal main table tbody tr:hover{
  background-color: rgb(206, 216, 255);
}
.turnos-personal main table tbody td{
  padding: 0;
}
.turnos-personal table tbody td select{
  -webkit-appearance: none;
  margin: 0;
  padding: 5px;
  border: none;
  height: 100%;
  width: 100%;
  box-shadow: none;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  transition: .2s ease;
  font-weight: bold;
}
.turnos-personal table tbody td select:hover{
  background-color: rgb(206, 216, 255);
}
.turnos-personal table tbody td select option{
  color: black;
  background-color: white;
  margin-top: -20px;
}

.turnos-personal table .hoy {
  background-color: rgb(97, 208, 97);
  color: white;
  font-weight: bold;
}

.turnos-personal table .domingo{
  background: rgba(128, 128, 128, 0.534);
}
.turnos-personal table tr + .domingo {
  background: rgba(128, 128, 128, 0.534);
}