

/**********************************************/
/*ESTYLOS DE LA TABLA VER TURNOS*/
.turnos-personal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: white;
  padding: 35px;
  padding: 37px 20px 50px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  overflow-y: auto;
}
.turnos-personal main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.turnos-personal main>h3 {
  font-size: large;
  font-family: 'poppins';
}
.turnos-personal main section {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.turnos-personal .acciones {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  gap: 10px;
  /* border: black solid 1px; */
  height: 30px;
  margin: auto;
  margin-top: 20px;
}
.turnos-personal .volver_link{
  position: absolute;
  top: -35px;
}
.turnos-personal .acciones input {
  width: 380px;
  height: 100%;
  padding-left: 35px;
  border: none;
  box-shadow: 0 0 3px black;
  outline: none;
  font-weight: 600;
  text-transform: uppercase;
}
.turnos-personal .acciones input:focus {
  outline: #00796b solid 2px;
  box-shadow: none;
}
.turnos-personal .acciones input:focus ~ .ico_buscar{
  color: #00796b;
}
.turnos-personal .acciones .ico_buscar {
  position: absolute;
  font-size: 20px;
  top: 5px;
  left: 10px;
}

.turnos-personal .acciones .filtros{
  position: relative;
  z-index: 10;
  height: 100%;
}
.turnos-personal .filtros .filtro span{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}

.turnos-personal .acciones .filtro{
  position: absolute;
  left: 0;
  width: 120px;
  background-color: rgb(46, 42, 42);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 7px;
  color: white;
  display: none;
}
.turnos-personal .acciones div .btn-filtro:hover~.filtro{
  display: flex;
}
.turnos-personal .acciones .filtro:hover{
  display: flex;
}
.turnos-personal .acciones .ico{
  transform: rotate(-180deg);
  font-size: 18px;
}
.turnos-personal .contador{
  font-family: 'poppins';
  font-size: 12px;
  display: flex;
  margin: 0;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 10px;
}

.turnos-personal .acciones .fecha-cambiar{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}
.turnos-personal .fecha-cambiar h4{
  margin: 0;
  white-space: nowrap;
  font-weight: 550;
  font-size: 15px;
}
.turnos-personal .acciones button {
  background-color: #00796bb4;
  height: 100%;
  padding: 5px 10px;
  display: flex;
  font-size: 13px;
  gap: 3px;
  color: white;
  font-family: 'poppins';
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.turnos-personal .acciones .btn-export {
  white-space: nowrap;
  height: 100%;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  background-color: #00796bb4;
  color: white;
  gap: 3px;
  text-transform: capitalize;
}
.turnos-personal .acciones .icoExport {
  font-size: 16px;
}

.turnos-personal .acciones .ico-cambiar {
  font-size: 17px;
}

.turnos-personal main table {
  margin-top: -5px;
}

.turnos-personal main table thead th{
  font-family: 'poppins';
  font-size: 12px;
  padding: 4px;
  text-align: center;
  font-weight: bold;
  position: relative;
  position: relative;
  cursor: pointer;
  transition: all .2s;
  background-color: #00796bb4;
  border: rgb(11, 116, 112) solid 1px;
}
.turnos-personal main table thead th:hover{
  background-color: #51b7aba9; 
}
.turnos-personal main table thead th .accion-cabeza{
  position: absolute;
  top: 30px;
  left: -10px;
  z-index: 5;
  animation: fadeIn 0.3s ease;
  padding: 10px;
}
.turnos-personal .leyenda-turno{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-family: 'poppins';
  font-size: 13px;
  font-weight: 400;
}.turnos-personal .leyenda-turno p {
  font-size: 12px;
}


@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.95);
  }

  to {
      opacity: 1;
      transform: scale(1);
  }
}
.balloon {
  position: relative; 
  background-color: rgb(11, 156, 156);
  color: floralwhite;
  padding: 10px;
  border-radius: 5px;
  width: 150px; 
  cursor: initial;
  box-shadow: 0 0 8px pink, 0 0 8px pink;
}
.balloon button{
  margin: auto;
  background-color: rgb(249, 99, 99);
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
}

.balloon::before {
  content: ""; /* Necesario para crear el pseudo-elemento */
  position: absolute; /* Posicionamiento absoluto */
  top: -15px; /* Ajusta la posición vertical */
  left: 10px; /* Ajusta la posición horizontal */
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgb(11, 156, 156);
}
.turnos-personal table .accion-cabeza p{
  background: none;
  border: none;
  padding: 0;
  cursor: initial;
  margin: auto;
}

.turnos-personal table tbody .names{
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  padding: 2px;
  width: auto;
  font-size: 11px;
}

.turnos-personal table .names:hover{
  text-decoration: underline;
}
.turnos-personal main table tbody tr{
  transition: .2s ease;
}
.turnos-personal table tbody tr:hover{
  background-color: rgb(206, 216, 255);
}

.turnos-personal table tbody td{
  padding: 0;
}
.turnos-personal table tbody td select{
  -webkit-appearance: none;
  margin: 0;
  padding: 5px;
  border: none;
  height: 100%;
  width: 100%;
  box-shadow: none;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  transition: .2s ease;
  font-weight: bold;
}
.turnos-personal table tbody td select:hover{
  background-color: rgb(206, 216, 255);
}
.turnos-personal table tbody td select:focus{
  background-color: rgb(206, 216, 255);
}
.turnos-personal table tbody td select option{
  color: black;
  background-color: white;
  margin-top: -20px;
}

.turnos-personal table .hoy {
  background-color: rgb(97, 208, 97);
  color: white;
  font-weight: bold;
  pointer-events: none;
  z-index: 10;
}

.turnos-personal table .domingo{
  background: rgba(128, 128, 128, 0.534);
  pointer-events: none;
  z-index: 9;
}

.turnos-personal table .bloqueada {
  background-color: rgba(255, 117, 117, 0.689);
  border: rgb(249, 92, 92) solid 1px;
  pointer-events: none;
} 
.turnos-personal table thead tr .bloqueada{
  pointer-events: initial;
}

.turnos-personal table .mm{
  color: red;
}
.turnos-personal table .tt{
  color: rgb(255, 68, 168);
}
.turnos-personal table .gd{
  color: rgb(247, 18, 255);
}
.turnos-personal table .mvd{
  color: rgb(255, 172, 39);
}
.turnos-personal table .gdd{
  color: rgb(34, 255, 63);
}
.turnos-personal table .mvsf{
  color: gray;
}
.turnos-personal table .ll{
  color: rgb(1, 159, 159);
}