






.turnos-personal .leyenda-turno {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 10px;
}

.turnos-personal .leyenda-turno p {
    font-size: 12px;
    display: flex;
    align-items: center;
}